// COLORS
$white: #ffffff;
$black: #000000;
$grey: #666666;

// BUTTON
$default-font-color: #888888;

// PATHS
$direction-white: #FFFFFF;
$direction-grey: #EEEEEE;
$direction-green: #00FF00;
$direction-red: #FF0000;

// BOOTSTRAP CONFIGURATION
$enable-flex: true;
$grid-columns: 12;
$grid-gutter-width: 16px;

$xlg: 1440px;
$lg: 1280px;
$md: 1025px;
$sm: 768px;
$xs: 0;

// ANIMATION
$highlightDuration: 800ms;
$easing: cubic-bezier(0.230, 1.000, 0.320, 1.000); // slide between screen animation
